* {
  box-sizing: border-box;
}

body {
  font-family: 나눔스퀘어, "NanumSquare", sans-serif;
}

h1 {
  font-size: 4rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 900;
}

h4 {
  font-size: 1.6rem;
  margin: 0 0 1rem;
}

h5 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

p {
  margin: 0 0 1rem;
  font-size: 1.1rem;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding: 0;
  /* margin: 0 0 1rem 0; */
  font-size: 1.1rem;
}

ul > li {
  position: relative;
  margin-left: 1.3rem;
  padding: 0.2rem 0 0.2rem 1rem;
}

ul > li:before {
  position: absolute;
  content: "\f111"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  top: 10px;
  margin-left: -1.3rem;
  color: #3a7bd5;
  font-size: 0.5rem;
}

.container {
  width: 100%;
  max-width: 45rem;
  margin: auto;
}

.section {
  display: block;
}

.row {
  display: flex;
  padding: 3rem 0;
  border-bottom: 1px solid #eeeeee;
}

.left {
  flex-basis: 18rem;
  padding-right: 1rem;
  flex-shrink: 0;
  display: block;
}

.right {
  flex-grow: 1;
}

div {
  display: block;
}

.role {
  font-size: 1.1rem;
  display: block;
}

.project {
  padding-bottom: 1.5rem;
}

.education {
  display: block;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.initial-section {
  display: flex;
}

@media screen and (max-width: 960px) {
  .row {
    flex-direction: column;
  }

  .left {
    flex-basis: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
